/* ---------General--------- */

/* ----------Header---------- */

/*----------- Botones ------- */

/*----------- Banner -------- */
#Banner{
    background-color: rgba(51,26,21,1);
    background-image: url('./assets/img/banner.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    display: flex;
}
.bannerSpace{
    background-color: transparent;
    width: 100%;
}
.bannerText{
    color: white;
    font-size: 60px;
    padding-top: 100px;
}
.bannerText > .flexElement > a{
    margin-top: 30px;
}
/*------------- Caracteristycs ------------*/
#Caracteristycs{
    display: flex;
    padding: 50px;
    background-color:rgba(236,234,227,1);
}
.C_element{
    padding: 30px;
}
.C_element img{
    width: 80px;
}
.C_element p{
    font-size: 20px;
    padding: 0 10px
}
/*------------- About ------------*/

/* ------------ Menu ------------ */
#Menu
    {
    padding: 60px;
    background-color:rgba(236,234,227,1);
}
.menuGrid{
    display: flex;
}
.menuSoon{
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    background-color: white;
    margin: 20px;
    border: none;
    border-radius: 30px;
    padding-top: 40px;
}
.menuSoon img{
    border-radius: 30px;
    height: 300px;
    width: 350px;
}
.menuSoon p{
    font-size: 20px;
}
/* ------------Contact----------- */

/*------------------- responsive --------------- */
